<a href="https://colab.research.google.com/github/emerson-jose/programas_introdu-ao_python-/blob/main/programa_introduc%C3%A3o_ci%C3%AAncias_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lista inicial marcas de carros

marcas_carro = ["FORD", "GM", "BYD", "HONDA"]
# adicionar toyota ao final da lisca com o append
marcas_carro.append("TOYOTA")

#imprimir a lista apos a adição

print("Lista após adicionar Toyota:", marcas_carro )

#remoção do elemento  da posição 1 ("GM") utilizando pop

marcas_carro.pop(1)

#impreção da lista apos a remoção

print("Lista após remover GM:",marcas_carro)

Lista após adicionar Toyota: ['FORD', 'GM', 'BYD', 'HONDA', 'TOYOTA']
Lista após remover GM: ['FORD', 'BYD', 'HONDA', 'TOYOTA']

In [ ]:
# Cria a lista usando range de 2 a 150 (inclusive)
lista = list(range(2, 151))

# Imprime todos os elementos da lista
print("Lista completa:")
print(lista)

# Usa fatiamento para imprimir os seis números entre as posições 75 e 80 (índices 75 a 80)
print("\nElementos nas posições 75 a 80:")
print(lista[75:81])

Lista completa:
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

Elementos nas posições 75 a 80:
[77, 78, 79, 80, 81, 82]

In [ ]:
# Criação do dicionário estudante
estudante = {
    "nome": "Carlos",
    "idade": 22,
    "nota": 7.8
}

# Impressão do valor da chave "nota"
print("Nota do estudante:", estudante["nota"])

Nota do estudante: 7.8

In [ ]:
# Adiciona a chave "disciplina" com o valor "Matemática"
estudante["disciplina"] = "Matemática"

# Altera o valor da chave "idade" para 23
estudante["idade"] = 23

# Imprime o dicionário atualizado

print(estudante)

{'nome': 'Carlos', 'idade': 23, 'nota': 7.8, 'disciplina': 'Matemática'}

In [ ]:
# Armazena o número na variável 'valor'
valor=7

# Verifica as condições usando if, elif e else
if valor > 0:
    print("Positivo")
elif valor < 0:
    print("Negativo")
else:
    print("Zero")

Positivo

In [ ]:
# Armazena o número na variável
valor = 21

# Verifica se o número é divisível por 3
if valor  %3 == 0:
    print("Divisível por 3")
else:
    print("Não divisível por 3")

Divisível por 3

In [ ]:
# Laço for para percorrer os números de 1 a 5
for numero in range(1, 6):
    print(f"{numero} Python")

1 Python
2 Python
3 Python
4 Python
5 Python

In [ ]:
cidades = ["brasilia", "piaui", "rio de janeiro", "sao paulo", "salvador","minas gerais"]
for cidade in cidades:
    print(f"Eu visitei {cidade}")

Eu visitei brasilia
Eu visitei piaui
Eu visitei rio de janeiro
Eu visitei sao paulo
Eu visitei salvador
Eu visitei minas gerais

In [ ]:
numero = 1  # Começa no primeiro ímpar
while numero < 100:
    print(numero)
    numero += 2  # Incrementa de 2 em 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
def media_lista(lista):
    # Calculo da média dividindo a soma dos elementos pela quantidade de elementos
    return sum(lista) / len(lista)

# Teste da função com a lista [10, 20, 30, 40]
print(media_lista([10, 20, 30, 40]))

25.0